<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/head'); %>
</head>
<body class="container">

<header>
    <%- include('../components/header'); %>
</header>

<main>
    <% modalidad.forEach(function(modalidadItem) { %>
        <h2><%= modalidadItem.nombre %></h2>
        <ul>
            <% modalidadItem.categorias.forEach(function(categoria) { %>
                <li><%= categoria.nombre %></li>
            <% }); %>
        </ul>
    <% }); %>

</main>

<footer>
    <%- include('../components/footer'); %>
</footer>

</body>
</html>